.xeskb { 
  border-top-width: 54px;
  font-size: 54px;
  padding-left: 91px;
  line-height: 36px;
  padding-right: 81px;
  margin-bottom: 13px;
  margin-right: 49px;
  margin-bottom: 15px;
  line-height: 67px;
  margin-top: 8px;
  padding-bottom: 53px;
  border-left-width: 85px;
}
