.xeskb { 
  border-top-width: 54px;
  font-size: 54px;
  padding-left: 91px;
  line-height: 36px;
  padding-right: 81px;
  margin-bottom: 13px;
  margin-right: 49px;
  margin-bottom: 15px;
  line-height: 67px;
  margin-top: 8px;
  padding-bottom: 53px;
  margin-left: 15px;
  border-top-width: 35px;
  margin-left: 81px;
  border-left-width: 36px;
  padding-bottom: 31px;
  padding-top: 33px;
  margin-bottom: 17px;
  border-top-width: 3px;
  margin-top: 39px;
  padding-right: 0px;
  margin-right: 22px;
  margin-left: 74px;
  padding-bottom: 50px;
  padding-left: 66px;
  margin-top: 70px;
  padding-right: 68px;
  border-left-width: 93px;
  margin-left: 20px;
  margin-right: 13px;
  margin-left: 98px;
  margin-top: 10px;
  padding-bottom: 9px;
  margin-left: 82px;
  margin-right: 88px;
  padding-top: 81px;
  border-left-width: 40px;
  font-size: 15px;
  margin-left: 52px;
  margin-bottom: 41px;
  margin-right: 59px;
  margin-right: 64px;
  line-height: 40px;
  margin-left: 66px;
  border-bottom-width: 59px;
  border-left-width: 13px;
  margin-top: 47px;
  line-height: 53px;
  line-height: 41px;
  margin-top: 49px;
  padding-top: 51px;
  border-right-width: 80px;
  border-top-width: 61px;
  font-size: 93px;
  margin-right: 29px;
  border-right-width: 42px;
  padding-bottom: 3px;
  padding-bottom: 27px;
  border-right-width: 32px;
  border-top-width: 86px;
  margin-bottom: 86px;
  padding-left: 67px;
  margin-bottom: 5px;
  line-height: 29px;
  border-right-width: 97px;
  padding-top: 35px;
  line-height: 11px;
  margin-top: 25px;
}
